@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-slideInLeft {
        animation: slideInLeft 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-in forwards;
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}